fastapi>=0.115.0
uvicorn[standard]>=0.30.0
pydantic>=2.9.0

# Task 3
transformers>=4.43.0
torch>=2.2.0
sentence-transformers>=3.0.1
faiss-cpu>=1.8.0.post1

# Task 4
langchain>=0.2.10
langchain-chroma>=0.1.2
langchain-huggingface>=0.0.3
langchain-community>=0.2.10
chromadb>=0.5.4

# Task 5
langgraph>=0.2.34
openai>=1.40.0
rich>=13.7.1
python-dotenv>=1.0.1

gradio>=4.44.0

